<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Logisoft{% endblock %}</title>
    <link href="{{ asset('css/style.css') }}?v={{ date().timestamp }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
    {% block stylesheets %}{% endblock %}
    </style>
</head>
<body>
    <section id="main-wrapper">
        <div class="main-wrapper-left">
            {{ include('partials/nav-bar.html.twig') }}
        </div>
        <div class="main-wrapper-right">
            {% block content %}{% endblock %}
        </div>
    </section>

    <script src="{{ asset('js/vendor.js') }}?v={{ date().timestamp }}"></script>
    <script src="{{ asset('js/custom.js') }}?v={{ date().timestamp }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
